<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">
        Searched accounts
      </ion-card-title>
    </ion-card-header>

    <ion-row style="border-bottom: groove; padding-left: 16px;" *ngFor="let account of accounts">
      <ion-col col-4>
        <ion-label>
          {{ account }}
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
