<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Who do you want to search for?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

      <ion-item>

        <ion-label position="stacked">Instagram name<ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="name" clear-input=true></ion-input>

      </ion-item>

    <div class="ion-padding">

      <ion-button expand="block" (click)='searchButtonClicked()' type="submit" class="ion-no-margin">Let's stalk!</ion-button>

    </div>

    <ion-list>

      <ion-list-header>

        <h2>Recently posted images</h2> 

      </ion-list-header>


      <ion-item>
        <!--
        <ion-avatar slot="start">

           <img src="./avatar-finn.png"> 

        </ion-avatar>

      -->
      </ion-item>
    </ion-list>
    
</ion-content>